<<<<<<< HEAD
body {
    background-color:yellow-blue;
}
p{
    text-font:serifs,sanserifs;
    text-align:auto;
    color:black;
}
img{
    width:auto;
    heigt:auto;
}
video{
    width:auto;
    height:auto;
}

=======
>>>>>>> main
