body {
    background-color: whitesmoke;
  h1{
    font-size:30px;
    color: blue;
    margin-inline:60px
  }
       video{
        width: 250px;
        height: 250px;
       }
     
#poo  {
    color: blue;
    font-size: 18px;
    font-family: 'Arial', system-ui, sans-serif;
    text-align: center;
}
 div {
    background-color: lightgrey;
    padding: 20px;
    margin: 20px;
}
p {
    color:black;
    font-size: 16px;
    font-family: 'Arial', system-ui, sans-serif;
}
}
